<!DOCTYPE html>
<html lang="{{ site.lang | default: "ja" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <title>{{ site.title }} - {{ page.title }}</title>
  <link rel="stylesheet" href="https://unpkg.com/bamboo.css">
  <style>
    a{color:#38b48b}
    body{margin: 3rem 1.5rem;
    }
    audio,video{outline: none;}
  </style>
  </head>
  <body>




        {{ content }}
        

    <!-- FOOTER  -->
      <footer class="inner">
      </footer>
  </body>
</html>