---
layout: default
title: Home
---

<header>
      <img src="/images/logo.JPG" width="500">
<h1>{{ site.title | default: site.github.repository_name }}</h1>
<p>{{ site.description | default: site.github.project_tagline }}</p>

</header>

        {{ content }}
        
        <ul>
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>
{% capture footer_content %}
  {% include footer.md %}
{% endcapture %}
  {{ footer_content | markdownify }}

